
main
{
    height: 2000px;
    width: 500px;
    background-color: beige;
}
header
{
    height: 200px;
    width: 500px;
    background-color: blanchedalmond;
}
nav
{
    height: 100px;
    width: 500px;
    background-color: aquamarine;
}
section
{
    height: 600px;
    background-color: cornflowerblue;
}
